:root {
    --main-margin: 16px;
}

html, body {
    font-family: 'Poppins', sans-serif;
    font-size: 8pt;
    margin: 0;
    height: 100%;
}

body {
    justify-content: center;
}

.bold {
    font-weight: 600;
}

.regular {
    font-weight: 400;
}

#logo {
    padding: 16px;
    display: inline-block;
    max-height: 80px;
    max-width: 80px;
}

.flex-test {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: stretch;
}

.app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 10%;
}

@media only screen and (max-width: 600px) {
    .app {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .header {
        grid-row: 1/2;
        grid-column: 1/1;
    }
    .preview {
        grid-row: 2/3;
        grid-column: 1/1;
        height: 150px;
    }
    .editor {
        grid-row: 3/4;
        grid-column: 1/1;
    }
    .footer {
        grid-row: 4/5;
        grid-column: 1/1;
    }
}

@media (min-width: 1200px) {
    .header {
        grid-row: 1/2;
        grid-column: 1/3;
    }
    .preview {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .editor{
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .footer{
        grid-row: 3/3;
        grid-column: 1/3;
    }
}