:root{
    --bg-color-light: #f0f0f0;
    --bg-color-light-darker-shadow: rgba(0, 0, 0, 0.15);
    --bg-color-light-lighter-shadow: rgba(255,255,255,0.15);

    --bg-color-dark: #121212;
    --bg-color-dark-darker-shadow:  rgba(0,0,0,0.6);
    --bg-color-dark-lighter-shadow: rgba(255,255,255,0.03);

    --dark-theme-gray: #c1c1c1 ;

    --dark-1: #161616;
    --beige: #fcf2e3;

    --main-accent: #ed2939;
    --main-accent-darkmode: #f47f88;

    --lighting-yellow: #fdce26;
    --lighting-yellow-darkmode: #fee27d;

    --conifer-green: #b0d85d;
    --conifer-green-darkmode: #d0e89e;

    --turquoise: #26C4BE;
    --turquoise-darkmode: #7ddcd8;

    --shock-pink: #ff00d5;
    --shock-pink-darkmode: #ff66e6;

    --denim-blue: #165DC0;
    --denim-blue-darkmode: #739ed9;

}

body{font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",
    Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
}

h4{
    font-size: 1.5rem;
}
h5{
    font-size: 1rem;
}

.generatorGrid{
    display: grid;
    height: calc(100vh - 60px);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.previewItem{
    grid-row: 1/2;
}

.controlItem{
    grid-row: 2/3;
}

@media screen and (min-width: 1200px) {
    .generatorGrid{
        height: calc(100vh - 60px);
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .previewItem{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .controlItem{
        grid-column: 2/3;
        grid-row: 1/2;
    }
}